.text-blue {
    color: #0074D9;
}

.text-brown {
    color: #8B4513;
}

.text-green {
    color: #096f15;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.messages-list{
    max-height: 250px;
    overflow-y: scroll;
}

.form-message > div{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
